<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jianq.manager.spm.todo.dao.TodoMapper">
    <resultMap id="BaseResultMap" type="com.jianq.manager.spm.todo.entity.Todo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="orderId" property="orderId" jdbcType="INTEGER"/>
        <result column="cargoId" property="cargoId" jdbcType="INTEGER"/>
        <result column="amount" property="amount" jdbcType="DOUBLE"/>
        <result column="userId" property="userId" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="lastTime" property="lastTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, orderId, userId, status, createTime,amount,lastTime
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from hx_todo
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hx_todo
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insertSelective" parameterType="com.jianq.manager.spm.todo.entity.Todo" useGeneratedKeys="true"
            keyProperty="id">
        insert into hx_todo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="orderId != null">
                orderId,
            </if>
            <if test="userId != null">
                userId,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="lastTime != null">
                lastTime,
            </if>
            <if test="amount != null">
                amount,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastTime != null">
                #{lastTime,jdbcType=TIMESTAMP},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=DOUBLE},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jianq.manager.spm.todo.entity.Todo">
        update hx_todo
        <set>
            <if test="orderId != null">
                orderId = #{orderId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                userId = #{userId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                createTime = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastTime != null">
                lastTime = #{lastTime,jdbcType=TIMESTAMP},
            </if>
            <if test="amount != null">
                amount = #{amount,jdbcType=DOUBLE},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <sql id="Query_Column_List">
        <if test="orderId != null">
            AND hx.orderId = #{orderId}
        </if>
        <if test="userId != null">
            AND hx.userId = #{userId}
        </if>
        <if test="status != null">
            AND hx.status = #{status}
        </if>
        <if test="name != null and name !=''">
            AND ho.name like CONCAT("%",#{name},"%")
        </if>
        <if test="payee != null and payee !=''">
            AND ho.payee like CONCAT("%",#{payee},"%")
        </if>
    </sql>

    <sql id="Base_Column_List2">
        hx.id, hx.orderId,ho.cargoId, hx.userId, hx.status, hx.createTime,hx.amount,hx.lastTime,ho.name,ho.payee
    </sql>

    <select id="selectByTodo" resultMap="BaseResultMap" parameterType="com.jianq.manager.spm.todo.entity.Todo">
        select
        <include refid="Base_Column_List2"/>
        from hx_todo hx
        LEFT JOIN hx_order ho ON hx.orderId = ho.id
        where 1 = 1
        <include refid="Query_Column_List"/>
        ORDER BY id DESC
    </select>

    <select id="selectOrderRoleId" resultType="int" parameterType="java.lang.Integer">
        SELECT roleId FROM hx_teammember
        WHERE teamId = #{teamId} AND userId =
        (SELECT userId  from hx_todo ht where orderId = #{orderId} ORDER BY id desc limit 1)
    </select>

    <select id="selectUserNameByOrderId" resultType="string" parameterType="java.lang.Integer">
        SELECT userName FROM hx_user
        WHERE userId =
        (SELECT userId  from hx_todo ht where orderId = #{orderId} ORDER BY id desc limit 1)
    </select>

    <select id="selectTodoStatusByOrderIdAndUserCode" resultType="java.lang.Integer">
        SELECT status FROM hx_todo
        WHERE orderId = #{orderId} AND userId =
        (SELECT userId  from hx_user ht where userCode = #{userCode} limit 1)
    </select>

</mapper>