<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jianq.manager.spm.cargo.dao.CargoMapper">
    <resultMap id="BaseResultMap" type="com.jianq.manager.spm.cargo.entity.Cargo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="slogan" property="slogan" jdbcType="VARCHAR"/>
        <result column="reamrk" property="reamrk" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="typeName" property="typeName" jdbcType="VARCHAR"/>
        <result column="pic" property="pic" jdbcType="VARCHAR"/>
        <result column="pkg" property="pkg" jdbcType="LONGVARCHAR"/>
        <result column="creator" property="creator" jdbcType="INTEGER"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, slogan, reamrk, type, typeName, pic, pkg, creator, createTime
  </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from hx_cargo
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hx_cargo
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insertSelective" parameterType="com.jianq.manager.spm.cargo.entity.Cargo">
        insert into hx_cargo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="slogan != null">
                slogan,
            </if>
            <if test="reamrk != null">
                reamrk,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="typeName != null">
                typeName,
            </if>
            <if test="pic != null">
                pic,
            </if>
            <if test="pkg != null">
                pkg,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="slogan != null">
                #{slogan,jdbcType=VARCHAR},
            </if>
            <if test="reamrk != null">
                #{reamrk,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="typeName != null">
                #{typeName,jdbcType=VARCHAR},
            </if>
            <if test="pic != null">
                #{pic,jdbcType=VARCHAR},
            </if>
            <if test="pkg != null">
                #{pkg,jdbcType=LONGVARCHAR},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jianq.manager.spm.cargo.entity.Cargo">
        update hx_cargo
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="slogan != null">
                slogan = #{slogan,jdbcType=VARCHAR},
            </if>
            <if test="reamrk != null">
                reamrk = #{reamrk,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="typeName != null">
                typeName = #{typeName,jdbcType=VARCHAR},
            </if>
            <if test="pic != null">
                pic = #{pic,jdbcType=VARCHAR},
            </if>
            <if test="pkg != null">
                pkg = #{pkg,jdbcType=LONGVARCHAR},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                createTime = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <sql id="Query_Column_List">
        <if test="creator != null">
            AND hc.creator = #{creator}
        </if>
        <if test="name != null and name !=''">
            AND hc.name like CONCAT("%",#{name},"%")
        </if>
    </sql>

    <select id="listCargo" resultMap="BaseResultMap" parameterType="com.jianq.manager.spm.cargo.entity.Cargo">
        select
        <include refid="Base_Column_List"/>
        from hx_cargo hc
        where 1 = 1
        <include refid="Query_Column_List"/>
    </select>

</mapper>